<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/main">Home</a>
    <div>
      <form action="/busca/busca" method="post">
        <input type="text" name="busca"/>
        <button type="submit">Busca</button>
      </form>
    </div>
    <div class="isLoged">
      <% if(typeof usuario==='undefined' ){ %>
        <a class="btn" href="/login">Login</a>
        <% } else { %>
          <h2>Olá <a href="/perfil">
              <%= usuario.usuario %>
            </a>
          </h2>
          <a class="logout" href="/main/logout">Logout</a>
          <% }%>
    </div>
  </header>
  <main class="main__frases">
    <div class="titulo__frases">
      <h1>Frases de nossos usuarios</h1>
      <p>Poste suas ideias <a href="/post">aqui</a></p>
    </div>
    <div class="lista__frases">
      <div>
        <% if(typeof frases[frases.length - 1].frase==='undefined' ){ %>
          <div class="frases">
            <p>
              Poste novas frases :)
            </p>
          </div>
          <% } else { %>
            <div class="frases">
              <p>
                <%= frases[frases.length - 1].frase %>
              </p>
              <p>
                <%= frases[frases.length - 1].user %>
              </p>
              <a href="/perfil/like/<%= frases[frases.length - 1].id %>">Curtir</a>
              <p>Likes : <%= frases[frases.length - 1].like %>
              </p>
            </div>
            <% }%>
              <% if(typeof frases[frases.length - 2].frase==='undefined' ){ %>
                <div class="frases">
                  <p>
                    Poste novas frases :)
                  </p>
                </div>
                <% } else { %>
                  <div class="frases">
                    <p>
                      <%= frases[frases.length - 2].frase %>
                    </p>
                    <p>
                      <%= frases[frases.length - 2].user %>
                    </p>
                    <a href="/perfil/like/<%= frases[frases.length - 2].id %>">Curtir</a>
                    <p>Likes : <%= frases[frases.length - 2].like %>
                    </p>
                  </div>
                  <% }%>
                    <% if(typeof frases[frases.length - 3].frase==='undefined' ){ %>
                      <div class="frases">
                        <p>
                          Poste novas frases :)
                        </p>
                      </div>
                      <% } else { %>
                        <div class="frases">
                          <p>
                            <%= frases[frases.length - 3].frase %>
                          </p>
                          <p>
                            <%= frases[frases.length - 3].user %>
                          </p>
                          <a href="/perfil/like/<%= frases[frases.length - 3].id %>">Curtir</a>
                          <p>Likes : <%= frases[frases.length - 3].like %>
                          </p>
                        </div>
                        <% }%>
      </div>
      <div>
        <% if(typeof frases[frases.length - 4].frase==='undefined' ){ %>
          <div class="frases">
            <p>
              Poste novas frases :)
            </p>
          </div>
          <% } else { %>
            <div class="frases">
              <p>
                <%= frases[frases.length - 4].frase %>
              </p>
              <p>
                <%= frases[frases.length - 4].user %>
              </p>
              <a href="/perfil/like/<%= frases[frases.length - 4].id %>">Curtir</a>
              <p>Likes : <%= frases[frases.length - 4].like %>
              </p>
            </div>
            <% }%>
              <% if(typeof frases[frases.length - 5].frase==='undefined' ){ %>
                <div class="frases">
                  <p>
                    Poste novas frases :)
                  </p>
                </div>
                <% } else { %>
                  <div class="frases">
                    <p>
                      <%= frases[frases.length - 5].frase %>
                    </p>
                    <p>
                      <%= frases[frases.length - 5].user %>
                    </p>
                    <a href="/perfil/like/<%= frases[frases.length - 5].id %>">Curtir</a>
                    <p>Likes : <%= frases[frases.length - 5].like %>
                    </p>
                  </div>
                  <% }%>
                    <% if(typeof frases[frases.length - 6].frase==='undefined' ){ %>
                      <div class="frases">
                        <p>
                          Poste novas frases :)
                        </p>
                      </div>
                      <% } else { %>
                        <div class="frases">
                          <p>
                            <%= frases[frases.length - 6].frase %>
                          </p>
                          <p>
                            <%= frases[frases.length - 6].user %>
                          </p>
                          <a href="/perfil/like/<%= frases[frases.length - 6].id %>">Curtir</a>
                          <p>Likes : <%= frases[frases.length - 6].like %>
                          </p>
                        </div>
                        <% }%>
      </div>
      <div>
        <% if(typeof frases[frases.length - 7].frase==='undefined' ){ %>
          <div class="frases">
            <p>
              Poste novas frases :)
            </p>
          </div>
          <% } else { %>
            <div class="frases">
              <p>
                <%= frases[frases.length - 7].frase %>
              </p>
              <p>
                <%= frases[frases.length - 7].user %>
              </p>
              <a href="/perfil/like/<%= frases[frases.length - 7].id %>">Curtir</a>
              <p>Likes : <%= frases[frases.length - 7].like %>
              </p>
            </div>
            <% }%>
              <% if(typeof frases[frases.length - 8].frase==='undefined' ){ %>
                <div class="frases">
                  <p>
                    Poste novas frases :)
                  </p>
                </div>
                <% } else { %>
                  <div class="frases">
                    <p>
                      <%= frases[frases.length - 8].frase %>
                    </p>
                    <p>
                      <%= frases[frases.length - 8].user %>
                    </p>
                    <a href="/perfil/like/<%= frases[frases.length - 8].id %>">Curtir</a>
                    <p>Likes : <%= frases[frases.length - 8].like %>
                    </p>
                  </div>
                  <% }%>
                    <% if(typeof frases[frases.length - 9].frase==='undefined' ){ %>
                      <div class="frases">
                        <p>
                          Poste novas frases :)
                        </p>
                      </div>
                      <% } else { %>
                        <div class="frases">
                          <p>
                            <%= frases[frases.length - 9].frase %>
                          </p>
                          <p>
                            <%= frases[frases.length - 9].user %>
                          </p>
                          <a href="/perfil/like/<%= frases[frases.length - 9].id %>">Curtir</a>
                          <p>Likes : <%= frases[frases.length - 9].like %>
                          </p>
                        </div>
                        <% }%>
      </div>
    </div>
  </main>
</body>

</html>